include: 
 - local: "ci-variables.yml"
 - local: ".gitlab-ci-templates.yml"

variables:
  ARTIFACT_COMPRESSION_LEVEL: "slow"

build:debian-buster:
  extends: .build
  image: ${DOCKER_REGISTRY}/hs-conan-debian-buster-slim:latest

build:debian-bullseye:
  extends: .build
  image: ${DOCKER_REGISTRY}/hs-conan-debian-bullseye-slim:latest

build:ubuntu-18.04:
  extends: .build
  image: ${DOCKER_REGISTRY}/hs-conan-ubuntu-18.04:latest

build:ubuntu-20.04:
  extends: .build
  image: ${DOCKER_REGISTRY}/hs-conan-ubuntu-20.04:latest

build:fedora-32:
  extends: .build
  image: ${DOCKER_REGISTRY}/hs-conan-fedora-32:latest

build:fedora-34:
  extends: .build
  image: 
    name: ${DOCKER_REGISTRY}/hs-conan-fedora-34:latest
    entrypoint: ["/bin/sh", "-c"]

run_tests:debian-buster:
  extends: .run_tests
  image: ${DOCKER_REGISTRY}/hs-conan-debian-buster-slim:latest
  needs: ["build:debian-buster"]

run_tests:debian-bullseye:
  extends: .run_tests
  image: ${DOCKER_REGISTRY}/hs-conan-debian-bullseye-slim:latest
  needs: ["build:debian-bullseye"]

run_tests:ubuntu-18.04:
  extends: .run_tests
  image: ${DOCKER_REGISTRY}/hs-conan-ubuntu-18.04:latest
  needs: ["build:ubuntu-18.04"]

run_tests:ubuntu-20.04:
  extends: .run_tests
  image: ${DOCKER_REGISTRY}/hs-conan-ubuntu-20.04:latest
  needs: ["build:ubuntu-20.04"]

run_tests:fedora-32:
  extends: .run_tests
  image: ${DOCKER_REGISTRY}/hs-conan-fedora-32:latest
  needs: ["build:fedora-32"]

run_tests:fedora-34:
  extends: .run_tests
  image: 
    name: ${DOCKER_REGISTRY}/hs-conan-fedora-34:latest
    entrypoint: ["/bin/sh", "-c"]
  needs: ["build:fedora-34"]

analyze_memory_usage:debian-buster:
  extends: .analyze_memory_usage
  image: ${DOCKER_REGISTRY}/hs-conan-debian-buster-slim:latest
  needs: ["build:debian-buster"]

analyze_memory_usage:debian-bullseye:
  extends: .analyze_memory_usage
  image: ${DOCKER_REGISTRY}/hs-conan-debian-bullseye-slim:latest
  needs: ["build:debian-bullseye"]

analyze_memory_usage:ubuntu-18.04:
  extends: .analyze_memory_usage
  image: ${DOCKER_REGISTRY}/hs-conan-ubuntu-18.04:latest
  needs: ["build:ubuntu-18.04"]

analyze_memory_usage:ubuntu-20.04:
  extends: .analyze_memory_usage
  image: ${DOCKER_REGISTRY}/hs-conan-ubuntu-20.04:latest
  needs: ["build:ubuntu-20.04"]

analyze_memory_usage:fedora-32:
  extends: .analyze_memory_usage
  image: ${DOCKER_REGISTRY}/hs-conan-fedora-32:latest
  needs: ["build:fedora-32"]

analyze_memory_usage:fedora-34:
  extends: .analyze_memory_usage
  image: 
    name: ${DOCKER_REGISTRY}/hs-conan-fedora-34:latest
    entrypoint: ["/bin/sh", "-c"]
  needs: ["build:fedora-34"]

check_code_coverage:debian-buster:
  extends: .check_code_coverage
  image: ${DOCKER_REGISTRY}/hs-conan-debian-buster-slim:latest
  needs: ["build:debian-buster", "run_tests:debian-buster"]

check_code_formatting:debian-buster:
  extends: .check_code_formatting
  image: ${DOCKER_REGISTRY}/hs-conan-debian-buster-slim:latest
  needs: ["build:debian-buster"]

generate_autodoc:debian-buster:
  extends: .generate_autodoc
  image: ${DOCKER_REGISTRY}/hs-conan-debian-buster-slim:latest
  needs: ["build:debian-buster"]

package:stable:
  extends: .package
  image: ${DOCKER_REGISTRY}/hs-conan-debian-buster-slim:latest

pages:latest:
  extends: .pages
  image: ${DOCKER_REGISTRY}/hs-conan-debian-buster-slim:latest
  needs: ["build:debian-buster"]